# 기본
*                       @aitrics-shbaek
# 폴더별 담당
/backend/               @aitrics-shbaek @backtrics-bot
/web/                   @aitrics-jyjeong @frtrics-bot
/app/                   @aitrics-jyjeong @frtrics-bot
/tests/                 @aitrics-shbaek @qtrics-bot
/docs/                  @aitrics-shbaek @gitrics-bot
# 인프라는 PA Lead 단독
/.github/               @aitrics-shbaek
/backend/template.yaml  @aitrics-shbaek

